In [1]:
import pandas as pd

In [2]:
path_excel = r"https://raw.githubusercontent.com/Aussachaa/Lotto/main/DB_Lottery.xlsx"
df = pd.read_excel(path_excel, sheet_name="DB", usecols="A:I")
df

,Date,รางวัลที่ 1,2 ตัวบน,3 ตัวบน,2 ตัวล่าง,3 ตัวหน้า_1,3 ตัวหน้า_2,3 ตัวล่าง_1,3 ตัวล่าง_2
0,2024-08-16,95867,67,867,28,212,334,697,728
1,2024-08-01,407041,41,41,46,408,579,70,622
2,2024-07-16,367336,36,336,21,11,331,421,618
3,2024-07-01,434503,3,503,89,839,975,647,778
4,2024-06-16,518504,4,504,31,16,428,426,447
...,...,...,...,...,...,...,...,...,...
730,1994-02-01,5984685,85,685,5,173,746,268,396
731,1994-01-16,4791270,70,270,23,873,237,845,708
732,1993-12-30,2669189,89,189,72,874,902,69,37
733,1993-12-16,4043500,0,500,69,646,156,478,253
734,1993-12-01,3670638,38,638,98,294,139,959,608

In [3]:
df.dtypes

Date           datetime64[ns]
รางวัลที่ 1             int64
2 ตัวบน                 int64
3 ตัวบน                 int64
2 ตัวล่าง               int64
3 ตัวหน้า_1             int64
3 ตัวหน้า_2             int64
3 ตัวล่าง_1             int64
3 ตัวล่าง_2             int64
dtype: object